.sbox {
    margin: 30px;
    
}

input {
    height: 40px;
    width: 300px;
    border: 2px solid #dadada;
    position: relative;
    border: none;
    border-radius: 8px;
}

input::placeholder {
    padding-left: 35px;
}
input[type=text] {
    padding-left: 35px;
}

#searchIcon {
    position: absolute;
    margin-left: 10px;
    margin-right: 5px;
    top: 100px;
    z-index: 1;
}

@media screen and (max-width: 400px){
   input {
       width: 250px;
       margin-bottom: 20px;
   }
}