.filter {
    margin: 30px;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 8px;
    text-align-last: center;
    
    
}

@media screen and (max-width: 400px) {
    .filter {
        margin-top: 20px;
    }
}



